<div class="about corner-wrap">
	<a href="#" class="arrow-container" routerLink="">
	  <div class="arrow"></div>
	  <div class="arrow"></div>
	  <div class="arrow"></div>  
	</a>

	<div class="content">
		<p>My name is Tristan Jesse, I build websites among other things! I build in a variety of languages with my main work in:</p>
		<ul>
			<li>WordPress</li>
			<li>Angular 5</li>
			<li>Ionic</li>
		</ul>
		<p>Beyond those, I know all sorts of frameworks, have worked with a variety of backends and can get your project up and running just the way you need it.</p>
	</div>
</div>