<div class="about corner-wrap">
	<a href="#" class="arrow-container" routerLink="">
	  <div class="arrow"></div>
	  <div class="arrow"></div>
	  <div class="arrow"></div>  
	</a>

	<div class="content">
		<p>My name is Tristan Jesse, I build websites among other things! From WordPress to Angular 5 and Ionic, </p>
		<ul>
			<li>WordPress</li>
			<li>Angular 5</li>
			<li>Ionic</li>
		</ul>
		<p>I work in all sorts of stacks and don't have any trouble getting whatever functionality you need.</p>
	</div>
</div>