<div class="blog corner-wrap">
	<a href="#" class="arrow-container" routerLink="">
	  <div class="arrow"></div>
	  <div class="arrow"></div>
	  <div class="arrow"></div>  
	</a>

	<div class="content">
		<div class="title-area">
			<h1>Blog</h1>
			<p>Life, the universe and everything</p>
		</div>

		<div class="grid row">
			<div class="featured grid column">
				<img src="http://via.placeholder.com/700x400">
				<h2>Featured</h2>
				<ul class="horizontal">
					<li>Tag</li>
					<li>Tag</li>
					<li>Tag</li>
				</ul>
			</div>
			<div class="archives grid column">
				<h3>Archives</h3>
				<ul>
					<li>August</li>
					<li>September</li>
				</ul>
				<h3>Tags</h3>
				<ul>
					<li>PhP</li>
					<li>Angular</li>
				</ul>
			</div>
		</div>

		<div class="grid row">
			<div class="article grid row">
				<img src="https://via.placeholder.com/300x200">
				<div class="grid column">
					<h2>Title</h2>
					<ul class="horizontal">
						<li>Tag</li>
						<li>Tag</li>
						<li>Tag</li>
						<li>Tag</li>
						<li>Tag</li>
					</ul>
				</div>
			</div>
			<div class="article grid row">
				<img src="https://via.placeholder.com/300x200">
				<div class="grid column">
					<h2>Title</h2>
					<ul class="horizontal">
						<li>Tag</li>
						<li>Tag</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="load-more">
			<a>Load more</a>
		</div>
	</div>
</div>