@import '../../_scss/mixins';
@import '../../_scss/variables';
@import '../../_scss/grid';

.menu {
  a {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    color: $black;
    font-size: 24px;
    
    span {
      display: inline-block;
      transform-origin: bottom center;
      height: 200px;
      width: 20px;
      transition: 0.5s;
      position:absolute;
      
      @for $i from 1 through 100 {
        &.char#{$i} {
          left: ($i*20px);
          top: 20px;
        }
      }
    } // span
  } // a
} // .menu

.content {
	flex-direction: row;
	z-index: -10;
	
	.d-1of2 {
		padding: 0 1em;
	}

	ul {
		list-style: none;

		li {
			margin: 0.5em 0;
			background: $black;
			color: $white;
      padding: 0 4px;
		}
	}
}

@include mq-lg {
  .hover-box {
    &:hover {
      > a {
        @for $i from 1 through 9 {
          .char#{$i} {
            transform: rotate(($i*6)+deg);
            left: 150px;
          }
        }
      }
    } 
  }
}