$black:							#212121;
$white:							#f2f2f2;

$banner-green:			#35c988;
$banner-mid:				#319291;
$banner-blue:				#2e5d98;

$orange:						#cc5500;
$warning:						#f8d7da;
$dark-red:					#721c24;

$total-arrows: 			3;
$arrow-line-length: 50px;
$arrow-line-width: 	4px;